# Build Files
build/
components/
bower_components/
node_modules/
example/
tests/
-p/

# Development Files
.git*
.travis*
.DS_Store
Cakefile
Makefile
BACKERS.md
CONTRIBUTING.md
HISTORY.md
**/src/
**/test/
*.bat
*.jpg